@model IEnumerable<Order>
@{
    ViewData["Title"] = "GetUserCart";
}

<div style="width:90%;margin:auto" class="mt-2">
    <a href="/Identity/Account/Manage" class="btn btn-primary my-2">Back</a>

    <h3>My Orders</h3>
    @if (Model != null && Model.Count()>0)
    {
        
        <table class="table table-striped">
            <tr>
                <th>Order Date</th>
                <th>Order Status</th>
                
            </tr>
            @foreach(var order in Model)
            {
                <tr>
                    <td>@order.CreateDate.ToString("dd-MM-yyyy")</td>
                    <td>@order.OrderStatus.StatusName</td>
                    @if(order.OrderDetail != null && order.OrderDetail.Count > 0)
                    {
                    <tr>
                        <td>
                            <table class="table table-striped">
                                <tr>
                                    <td>
                                        <strong>Total(BTD):</strong>
                                    </td>
                                    <td>
                                        <strong>@(order.OrderDetail.Select(item => item.Mobile.Price * item.Quantity).Sum())</strong>

                                    </td>
                                </tr>
                                <tr>
                                    <th>Mobile</th>
                                    <th>Image</th>
                                    <th>Brand</th>
                                    <th>Unit Price(BTD)</th>
                                    <th>Total Price(BTD)</th>
                                </tr>
                                @foreach (var item in order.OrderDetail)
                                {
                                    <tr>
                                        <td>@item.Mobile.MobileName</td>
                                        <td>
                                            @if (string.IsNullOrEmpty(item.Mobile.Image))
                                            {
                                                <img src="/Image/no-image.jpg" style="width:80px;height:100px" />
                                            }
                                            else
                                            {
                                                <img src="/Image/@item.Mobile.Image" style="width:80px;height:100px" />
                                            }
                                        </td>
                                        <td>@item.Mobile.Brands.BrandName</td>
                                        <td>@item.Mobile.Price X @item.Quantity</td>
                                        <td> @(item.Mobile.Price* item.Quantity) </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                    }
                </tr>
            }
        </table>
     
      
    }
    else
    {
        <h5>No Orders</h5>
    }
</div>




@*  <table class="table table-striped">
            <tr>
                <th>Mobile</th>
                <th>Image</th>
                <th>Brand</th>
                <th>Unit Price(BDT)</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Action</th>

            </tr>
            @foreach (var item in Model.CartDetails)
            {
                <tr>
                    <td>@item.Mobile.MobileName</td>
                    <td>
                        @if (string.IsNullOrEmpty(item.Mobile.Image))
                        {
                            <img src="/Image/no-image.jpg" style="width:80px;height:100px" />
                        }
                        else
                        {
                            <img src="/Image/@item.Mobile.Image" style="width:80px;height:100px" />

                        }
                    </td>
                    <td>@item.Mobile.Brands.BrandName</td>
                    <td>@item.Mobile.Price X @item.Quantity</td>

                    <td>@item.Quantity</td>
                    <td>@(item.Mobile.Price* item.Quantity)</td>
                    <td>
                        <a class="btn btn-info" href="/Cart/AddItem?mobileId=@item.MobileId&&redirect=1">+</a>
                        <a class="btn btn-info" href="/Cart/RemoveItem?mobileId=@item.MobileId">-</a>

                    </td>
                </tr>
            }
        </table>
        <div class="my-2">
            <h5>Total(BDT):</h5>@(Model.CartDetails.Select(item => item.Mobile.Price * item.Quantity).Sum())
        </div> *@